@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #f5fca6;
  --background-end-rgb: #b8bd7e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(34, 249, 10);
}

.content {
  background-color: #fff;
  min-width: 480px;
  max-width: 768px;
  margin: 0 auto;
}

.border {
  border: 1px solid rgb(230, 230, 230);
  background: #FFF;
  border-radius: 5px;
  display: block;
  color: #333;
  cursor: pointer;
  text-decoration: none;
}


.roll {
  width: 100%;
  /* margin: 0 auto; */
  text-align: right;
  overflow: hidden;
}

.animate {
  padding-left: 20px;
  font-size: 32px;
  font-weight: 800;
  color: #FF0000;
  display: inline-block;
  white-space: nowrap;
  animation: 20s wordsLoop linear infinite normal;
}

@keyframes wordsLoop {
  0% {
      transform: translateX(200px);
      -webkit-transform: translateX(200px);
  }
  100% {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes wordsLoop {
  0% {
      transform: translateX(200px);
      -webkit-transform: translateX(200px);
  }
  100% {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
  }
}

.bg-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: 100% 56px;
}